@model ChefJeeves.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registration failed!");
    <div>
        <fieldset>
            <legend>Register</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.FirstName)
                @Html.ValidationMessageFor(u => u.FirstName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.LastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.LastName)
                @Html.ValidationMessageFor(u => u.LastName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Passcode)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Passcode)
                @Html.ValidationMessageFor(u => u.Passcode)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.PasscodeRetype)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.PasscodeRetype)
                @Html.ValidationMessageFor(u => u.PasscodeRetype)
            </div>
            
            <input type="submit" value="Register" />
        </fieldset>
    </div>
}
